<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="ASRSSQLServerDAL"/>
    <add key="ConnectionString" value="server=192.168.1.110;database=;uid=sa;pwd=zwx2006"/>
    <add key="ConnectionStringAccountDB" value="server=192.168.1.110;database=ASRSAccountDB;uid=sa;pwd=zwx2006"/>
    <add key="ConnectionStringProductDB" value="server=192.168.1.110;database=ASRSProductDB;uid=sa;pwd=zwx2006"/>
    <add key="WareChannelNum" value="2"/>
    <add key="WareColumnNum" value="50"/>
    <add key="WareLayerNum" value="4"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
