<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="SvcMachineCmd.MachineService">
                <endpoint address="http://localhost:8081" binding="basicHttpBinding"
                    bindingConfiguration="" contract="SvcMachineCmd.IMachineService" />
            </service>
            <service name="WCFService1.BookService">
                <endpoint address="http://localhost:8082" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WCFService1.IBookService" />
            </service>
        </services>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>